html,
body {
	height: 100%;
	color: white;
}

body {
	background-color: #69c;
	padding: 50px;
}

div {
	border: 1px solid black;
}

span {
	border: 1px solid blue;
}

.list {
	border: 1px solid black;
	background-color: blue;
}

.list-specialny {
	background-color: red;
}

.list-specialny li {
	display: inline-block;
}

p {
	font-size: 30px;
}

p.orange {
	color: orange;
}

div > strong {
border: 1px solid red; 
}

.orange {
	color: black;
}

#intro {
color: red;	
}

.jancibaci {
	background-color: green;
}

.bold {
	font-weight: bold;
}

a[title]:focus {
	color: blue;
	font-size: 50px;
	}

p:hover {
	font-weight: bold;
	text-decoration: underline;
}
